<div class="container">
    <div class="section-heading">
        <h6><span> SERVICES</span></h6>
        <h2>Les <span>services</span> que j'offre</h2>
    </div>
    <div class="row gy-5">
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-01.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-brush-fill"></i>
                    </div>
                    <h5>Développement d'api</h5>
                    <p>Je conçois et intègre des API performantes, fiables et sécurisées pour fluidifier l’échange de données et optimiser
                    l’expérience utilisateur.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-02.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-code-square"></i>
                    </div>
                    <h5>Développement d'interfaces web</h5>
                    <p>Je conçois et intègre des API performantes, fiables et sécurisées pour fluidifier l’échange de données et optimiser
                    l’expérience utilisateur.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-03.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-speedometer2"></i>
                    </div>
                    <h5>Conception de bases de données</h5>
                    <p>Je conçois des bases de données robustes et évolutives, assurant la performance et la fiabilité de vos applications.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="services-box" style="background-image: url(assets/img/service-04.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-palette"></i>
                    </div>
                    <h5>Automatisation</h5>
                    <p>J’automatise les processus pour gagner en efficacité et recentrer les équipes sur l’essentiel.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>