<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/dev.webp" title="" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>À PROPOS DE MOI</span></h6>
                    <h2>Passionné par le <span>Développement</span> d'applications de bout en bout.</h2>
                </div>
                <p>Je suis {{userInfo.firstName}} {{userInfo.lastName}}, un développeur passionné en quête permanente de nouvelles idées et de projets ambitieux. J'aime
                relever des défis créatifs, repousser mes limites et partager mes découvertes pour créer des solutions toujours plus
                innovantes.</p>
                <div class="review-box">
                    <div class="r-box">
                        <h3>2<span></span></h3>
                        <label>Baccalauréats </label>
                    </div>
                    <div class="r-box">
                        <h3>2<span></span></h3>
                        <label>Stages</label>
                    </div>
                    <div class="r-box">
                        <h3>15<span>+</span></h3>
                        <label>Projets réalisés</label>
                    </div>
                </div>
                <div class="btn-bar">
                    <a class="px-btn" href="#contactus"><span>Contactez moi</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>