<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6><span>Mon travail</span></h6>
                <h2>Projets récents</h2>
            </div>
        </div>
    </div>
    <div class="lightbox-gallery">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/popup-project-4.jpg" title="" alt="">
                    <a class="gallery-link" href="assets/img/popup-project-4.jpg" data-title="Caption for image 4" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Backend</h5>
                        <span>Warehousez</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_4"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/popup-project-5.jpg" title="" alt="">
                    <a class="gallery-link" href="assets/img/popup-project-5.jpg" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Backend</h5>
                        <span>Warehousez</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_5"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/popup-project-6.jpg" title="" alt="">
                    <a class="gallery-link" href="assets/img/popup-project-6.jpg" data-title="Caption for image 6" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Backend</h5>
                        <span>Warehousez</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_6"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
</div>