<main class="wrapper" id="scroll-container">

  <section id="home" spyTarget="home"  class="spy-section home-section">
        <app-home></app-home>
    </section>
    <section class="py-3 py-md-4 brand-section gray-bg">
      <app-brands></app-brands>
  </section>
    <section id="about" spyTarget="about" class="spy-section about-section section">
       <app-about></app-about>
    </section>
  
    <section id="project" spyTarget="project" class="spy-section project-section section gray-bg">
      <app-work></app-work>
    </section>

    <section id="services" spyTarget="services"  class="spy-section section">
      <app-services></app-services>
  </section>

    <section class="section gray-bg">
      <app-experience></app-experience>
    </section>


    <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section>
   
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p class="m-0 text-center">© 2023 copyright all right reserved</p>
      </div>
  </footer>
    <a href="#home"  id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer --> 
</main>
