<div class="container">
    <div class="section-heading">
        <h6><span>Expérience</span></h6>
        <h2>Mon <span>expérience</span> professionnelle</h2>
    </div>
    <div class="row gy-3">
        <div class="col-12" *ngFor="let experience of experiences">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>{{experience.title}}</h4>
                            <span>{{experience.company}}</span>
                            <p>{{experience.duration}}</p>
                            <label>{{experience.type}}</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Description</h5>
                            <p class="m-0">{{experience.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>